<?xml version="1.0" encoding="UTF-8"?>

   <config version="1.0" htmlParse="false">

     <!-- title of the study -->
     <item id="studyTitle">My_Q_project</item>

     <!-- text-align property(left|right) -->
     <item id="textAlign">left</item>

     <!-- shuffle cards (true|false)  -->
     <item id="shuffleCards">true</item>

     <!-- login required (true|false) -->
     <item id="loginrequired">false</item>
     <!-- login with common password (leave blank if not required) -->
     <item id="loginPassword"></item>
    <item id="partNameRequired">true</item>
      <!-- URL to individual login script(leave blank if not required) -->
     <item id="loginUrl"></item>
     <!-- request mode (post|get) -->
     <item id="loginUrlMethod"></item>

     <item id="setConstantCardHeight">false</item>
     <item id="constantCardHeight">150</item>
     <item id="setConstantCardWidth">false</item>
     <item id="constantCardWidth">200</item>
     <!-- activate/deactivate optional steps (true|false) -->
     <item id="showStep3">true</item>
     <item id="showStep4">true</item>
     <item id="showStep5">true</item>

     <!-- HtmlQ only: disable the in-window back button -->
     <item id="disableBackButton">true</item>

     <!-- define form elements for step5; only displayed if showStep5 is true (delete tags if not required) -->
     <!-- add label: <label>[STRING]</label> -->
     <!-- add note: <note>[STRING]</note> -->
     <!-- add input-field: <input type="[text|textarea|radio|select|checkbox|rating2|rating5|rating10]">[VALUE]</input> -->
     <!-- optional attributes: bg, id, maxlength, restricted, required, scale  -->
     <item id="form">
        <label>my text area lable</label>
        <note>why a text question - for birthdays</note>
        <input type="text" required="true" maxlength="1000" ></input>

        <label>A text area for comments</label>
        <input type="textarea" required="true"></input>

        <label>A radio qustion</label>
        <note>Why use a radio question</note>
        <input type="radio" required="false">choice 1; choice 2; choice 3</input>

        <label>A select question</label>
        <input type="select" required="false">choice 1; choice 2; choice 3</input>

        <label>checkbox questions here</label>
        <input type="checkbox" required="false">one; two; three</input>

        <label>rating 2</label>
        <input type="rating2" required="false" scale="yes; no">I have used an ipad before; i have used a notebook before</input>

        <label>rating 5 questions</label>
        <input type="rating5" required="false">how would you rate this class; how would you rate this teacher?</input>

        <note bg="true">all fields; marked</note>

     </item>

     <!-- URL for data transmission via POST/GET (leave blank if not required) -->
     <item id="submitUrl">exe.php?do=save</item>
  
     <!-- request mode (post|get|firebase) -->
     <item id="submitUrlMethod">firebase</item>
  
     <!-- data transmission via email, user must have an e-mail programm like Outlook (leave blank if not required) -->
     <item id="submitMail">yourdomain.com</item>
   </config>