<?xml version="1.0" encoding="UTF-8"?>

   <config version="7.0.0" htmlParse="false">

   <!-- GENERAL SETTINGS -->
   <!-- "setupTarget" options: netlify, firebase, local, email, or sheets -->
   <item id="studyTitle">Supervisee Responsiveness</item> 
   <item id="databaseOptions">Include_Google_Options</item>
   <item id="setupTarget">netlify</item>
   <!-- STEIN -->
   <item id="steinApiUrl"></item>
   <!-- EMAIL -->
   <item id="emailAddress"></item>  
   <item id="emailSubject">EQ Web Sort Results</item>  
   <!-- SECOND PROJECT LINKING -->
   <item id="linkToSecondProject">false</item> 
   <item id="secondProjectUrl">http://</item> 
   <!-- IMAGE OPTIONS  (imageFormat: 169 or 43)-->
   <item id="useImages">false</item>
   <item id="numImages">30</item>
   <item id="imageFileType">jpg</item>
   <item id="imageFormat">postSortImageModal169</item>

   <!-- OTHER GENERAL OPTIONS -->
   <item id="shuffleCards">false</item>
   <item id="headerBarColor">#337ab7</item>
   <item id="devMode">false</item> 
   <item id="showConsentPage">false</item>
   <item id="showConsentPageHelpModal">true</item>

   <!-- ACCESS -->
   <!-- options: anonymous, partId-access, partId, access -->
   <item id="initialScreen">anonymous</item>
   <item id="accessCode">demo</item>

   <!-- LEGACY DEFAULTS (do not change these)-->
   <item id="setDefaultFontSize">true</item>
   <item id="defaultFontSize">25</item>
   <item id="displayNeutralObjects">false</item>

   
   <!-- PRESORT -->
   <!-- default colors #2a2a2a, #ccffcc, #e0e0e0, #ffe0f0 -->
   <item id="showPresort">false</item>
   <item id="greenCardColor">#ccffcc</item>
   <item id="yellowCardColor">#e0e0e0</item>
   <item id="pinkCardColor">#ffe0e0</item>
   <item id="defaultFontColor">#2a2a2a</item>

   <item id="setDefaultFontSizePresort">true</item>
   <item id="defaultFontSizePresort">21</item>
   <item id="traceSorts">true</item>
  

   <!-- SORT -->
   <item id="allowUnforcedSorts">false</item>
   <item id="warnOverloadedColumn">true</item>
   <item id="condOfInstFontSize">15</item>

   <item id="setMinCardHeightSort">true</item>
   <item id="minCardHeightSort">113</item>
   <item id="setDefaultFontSizeSort">true</item>
   <item id="defaultFontSizeSort">7</item>
   
   <item id="sortDirection">positive</item> 

   <!-- POSTSORT -->
   <item id="showPostsort">true</item>
   <item id="showSecondPosColumn">false</item>
   <item id="showSecondNegColumn">false</item>
   <item id="showBackButton">true</item>
   <item id="postsortCommentsRequired">true</item>

   <item id="setDefaultFontSizePostsort">true</item>
   <item id="defaultFontSizePostsort">14</item>
   <item id="setMinCardHeightPostsort">true</item>
   <item id="minCardHeightPostsort">125</item>


   <!-- SURVEY - Survey Questions -->
   <item id="showSurvey">false</item>


       
  </config>