<?xml version="1.0" encoding="UTF-8"?>

   <config version="1.0" htmlParse="false">

     <!-- GENERAL SETTINGS -->
     <item id="shuffleCards">true</item>
     <item id="showPostsort">true</item>
     <item id="showSurvey">true</item>
     <item id="submitUrlMethod">firebase</item>
  

     <!-- LANDING -->
     <item id="studyTitle">My_Q_project</item>
     <item id="textAlign">left</item>
     <!-- LANDING - access control -->
     <item id="accessCodeRequired">false</item>
     <item id="accessCode"></item>
     <item id="partNameRequired">true</item>

     <!-- POSTSORT -->
     <item id="showSecondPosColumn">true</item>
     <item id="postsortAgreeColDisp1">column3</item>
     <item id="postsortAgreeColDisp2">column2</item>
     <item id="postsortDisagreeColDisp1">columnN3</item>
     <item id="postsortDisagreeColDisp2">columnN2</item>
     <item id="showSecondPosColumn">true</item>
     <item id="showSecondNegColumn">true</item>
     <item id="displayNeutralObjects">true</item>


     <!-- SURVEY - Survey Questions -->
     <item id="survey">
        <input type="information"></input>
        <note bg="goldenrod">All fields marked with an * are required.</note>
     </item>
     
     <item id="survey">
        <input type="text" required="true" maxlength="10" restricted="true"></input>
        <label>Text - write something cool</label>
        <note>Tell us of your hometown.</note>
     </item>

     <item id="survey">
        <input type="textRestricted" required="true" maxlength="4" restricted="true"></input>
        <label>Restricted Age*</label>
        <note>Please enter your year of birth (YYYY, eg. 1980).</note>
     </item>
     
     <item id="survey">
        <input type="textarea" required="true"></input>
        <label>Describe your experience using the iPads in this class*</label>
     </item>
     
     <item id="survey">
        <input type="radio" required="true">Freshman;Sophomore;Junior;Senior</input>
        <label>Year*</label>
        <note>Please select your year</note>
     </item>
     
     <item id="survey">
        <input type="select" required="true">Global Studies;Linguistics;English Literature</input>
        <label>What is your program focus?</label>
     </item>
     
     <item id="survey">
        <input type="checkbox" required="true">Lecture;Group Discussion;Active Learning</input>
        <label>What kind of class do you prefer?</label>
     </item>
     
     <item id="survey">
        <input type="rating2" required="true" scale="Yes;No">I have used an iPad in class before.; I have used a notebook computer in class before.</input>
        <label>Please respond to the following statements</label>
     </item>
     
     <item id="survey">
        <input type="rating5" required="true" scale="1;2;3;4;5">How would you rate the use of iPads in this class?;How would you rate this class overall?</input>
        <label>Please answer the following questions</label>
     </item>
     
     <item id="survey">
        <input type="rating10" required="true" scale="1;2;3;4;5;6;7;8;9;10">How would you rate the use of the Socrative website in this class?;How would you rate the use of the Quizlet website in this class?</input>
        <label>Please answer the following questions</label>
     </item>
     
   </config>
   