<?xml version="1.0" encoding="UTF-8"?>

   <config version="1.0" htmlParse="false">

   <!-- GENERAL SETTINGS -->
   <!-- "setupTarget" options: firebase, local, email, or sheets -->
   <item id="studyTitle">My_Q_project</item> 
   <item id="databaseOptions">Include_Google_Options</item>
   <item id="setupTarget">email</item>
   <!-- STEIN -->
   <item id="steinApiUrl">https://</item>
   <!-- EMAIL -->
   <item id="emailAddress">ken.q.tools@gmail.com</item>  
   <item id="emailSubject">EQ Websort Results</item>  
   <!-- SECOND PROJECT -->
   <item id="linkToSecondProject">false</item> 
   <item id="secondProjectUrl">https://</item> 
   <!-- OTHER GENERAL OPTIONS -->
   <item id="shuffleCards">true</item>
   <item id="headerBarColor">#337ab7</item>
   <item id="devMode">false</item> 

   <!-- ACCESS -->
   <!-- options: anonymous, partId-access, partId, access -->
   <item id="initialScreen">anonymous</item>
   <item id="accessCode">demo</item>

   <!-- LEGACY DEFAULTS (do not change these)-->
   <item id="setDefaultFontSize">true</item>
   <item id="defaultFontSize">25</item>
   <item id="displayNeutralObjects">false</item>

   
   <!-- PRESORT -->
   <!-- default colors #2a2a2a, #ccffcc, #e0e0e0, #ffe0f0 -->
   <item id="showPresort">false</item>
   <item id="defaultFontColor">#2a2a2a</item>
   <item id="defaultFontSizePresort">26</item>
   <item id="greenCardColor">#ccffcc</item>
   <item id="yellowCardColor">#e0e0e0</item>
   <item id="pinkCardColor">#ffe0f0</item>
   <item id="setDefaultFontSizePresort">true</item>
  

   <!-- SORT -->
   <item id="defaultFontSizeSort">16</item>
   <item id="condOfInstFontSize">20</item>
   <item id="allowUnforcedSorts">false</item>
   <item id="warnOverloadedColumn">true</item>
   <item id="minCardHeight">120</item>
   <item id="setMinCardHeight">true</item>
   <item id="setDefaultFontSizeSort">true</item>
   <item id="sortDirection">positive</item> 

   <!-- POSTSORT -->
   <item id="showPostsort">true</item>
   <item id="showSecondPosColumn">false</item>
   <item id="showSecondNegColumn">false</item>
   <item id="showBackButton">false</item>
   <item id="postsortCommentsRequired">false</item>


   <!-- SURVEY - Survey Questions -->
   <item id="showSurvey">true</item>

   <item id="survey">
       <input type="information"></input>
       <note bg="rgba(253, 224, 71, .5)">All fields marked with an * are {{{b}}}required.{{{/b}}}</note>
   </item>

   <item id="survey">
        <input type="text" required="true" limited="true" maxlength="100" restricted="false"></input>
        <label>1. Have you had classes with me before?*</label>
        <note>If yes, please {{{i}}}list them here{{{/i}}}. (limit = 100 characters)</note>
   </item>

   <item id="survey">
        <input type="textarea" required="false"></input>
        <label>2. Describe your experience using the iPads in this class</label>
        <placeholder>input comment here</placeholder>
   </item>

   <item id="survey">
        <input type="radio" required="false">Freshman;;;Sophomore;;;Junior;;;Senior</input>
        <label>3. Year</label>
        <note>Please select your year</note>
   </item>

   <item id="survey">
        <input type="select" required="false">Global Studies;;;Linguistics;;;English Literature</input>
        <label>4. What is your program focus?</label>
   </item>

   <item id="survey">
        <input type="checkbox" required="true">Lecture;;;Group Discussion;;;Active Learning</input>
        <label>5. What kind of class do you prefer?*</label>
   </item>

   <item id="survey">
        <input type="rating2" required="false" scale="Yes;;;No">I have used an iPad in class {{{b}}}before{{{/b}}}.;;; I have used a notebook computer in class before.;;;I have used Moodle before.;;;I have used Quizlet before;;;</input>
        <label>6. Please respond to the following {{{u}}}statements{{{/u}}}</label>
   </item>

   <item id="survey">
        <input type="rating5" required="false" scale="1;;;2;;;3;;;4;;;5">How would you rate the use of iPads in this class?;;;How would you rate this class overall?;;;How was your interaction with {{{u}}}other students?{{{/u}}};;;How was access to the computer lab?</input>
        <label>7. {{{i}}}Please{{{/i}}} answer the following questions</label>
   </item>

   <item id="survey">
        <input type="rating10" required="false" scale="1;;;2;;;3;;;4;;;5;;;6;;;7;;;8;;;9;;;10">How would you rate the use of the Socrative website in this class?;;;How would you rate the use of the {{{b}}}Quizlet{{{/b}}} website in this class?;;;How would you rate the use of Moodle in this class?;;;How would you rate the use of Edmodo in this class?;;;</input>
        <label>8. {{{u}}}Please{{{/u}}} answer the following questions</label>
   </item>


       
  </config>
